.login-form {
    width: 60%;
    height: 74.5vh;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.6%;
}

.wrapper {
    width: 60%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 12%;
}

.wrapper p {
    text-align: center;
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    color: #083D64;
}

.wrapper input {
    width: 50%;
    height: 5.2vh;
    border-radius: 15px;
    border: 2px solid #7DCE08;
    font-size: 1.2em;
    font-family: 'Varela Round', sans-serif;
    margin-left: 24%;
    margin-top: -5%;
    margin-bottom: 30px;
    padding-left: 20px;
}

#password {
    font-size: 1.5em;
    padding-top: 5px;
}

.login-button {
    width: 25%;
    height: 6vh;
    margin-left: 37.5%;
    margin-top: 23%;
    border-radius: 15px;
    color: white;
    border: 0;
    font-size: 1.2em;
    font-family: 'Varela Round', sans-serif;
    background-color: #7DCE08;
    -webkit-transition: .5s all;
    -webkit-transition-delay: 5s;
    -moz-transition: .5s all;
    -moz-transition-delay: 5s;
    -ms-transition: .5s all;
    -ms-transition-delay: 5s;
    -o-transition: .5s all;
    -o-transition-delay: 5s;
    transition: .5s all;
    transition-delay: 0s;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.903);
    color: #7DCE08;
    border: 3px solid #7DCE08;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}